{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="{% static 'Home/AboutUs.css' %}" />
  <body>
    <nav>
      <ul class="navItems">
        <li>
          <span class="nav"></span><span class="nav"></span
          ><span class="nav"></span>
        </li>
        <li><a href="/" class="navLinks">Home</a></li>
        <li><a href="/AboutUs" class="navLinks"> About us </a></li>
        <li><a href="/Tracker" class="navLinks">Tracker</a></li>
        <li><a href="/ContactUs" class="navLinks"> Contact us </a></li>
      </ul>
    </nav>
    <div class="desc">
      <div class="dpp">
        <img src="/media/Home/images/1654598152595.jpg" alt="" />
      </div>
      <div class="writing">
          <p>
              Hello This is Aritra Mondal. Presently I am studying in University Of Engineering and Mangement,Kolkata. Currently Learning Web Development using Django Frameworks.
          
          </p>
      </div>
    </div>
  </body>
</html>
