.navItems li{
    list-style: none;
    display: inline-block;
    color: rgb(232, 253, 255);
    margin-right: 20px;
    margin-left: 0;
    font-size: larger;
    margin-top: 9px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navLinks{
    text-decoration: none;
    color: inherit;
}
body{
    background: rgba(130, 130, 130, 0.783);
}
ul{
    padding-left: 18px;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    height: auto;
    padding: 5px;
    background: rgb(47, 47, 47);
}
.nav{
    height: 3px;
    background-color: rgb(254, 153, 37);
    display:block;
    margin-top: 3px;
    margin-right: 20px;
    margin-left: 0;
    width: 40px;
}
.navBtn{
    background: rgba(174, 172, 172, 0.783);
    padding: 5px;
    color: white;
    font-family:Roboto;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
}

img{
    height: 400px;
    width: 300px;
    object-fit: cover;
	object-position: 20% 15%;
}
.desc {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.dpp {
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    padding: 10px;
    border-radius: 9px;
    width: 300px;
}
.writing {
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    padding: 10px;
    margin: 20px;
    border-radius: 9px;
}